.BlogPostTitle {
  margin: auto;
  padding-bottom: 1%;
  text-align: center;
  font-weight: bold;
  text-decoration: underline rgb(56, 152, 231);
  font-size: larger;
}

.BlogPostDescription {
  font-size: small;
}
.BlogPostText {
  margin: auto;
  min-height: 18px;
}
