.TitleSearchPage {
    color: white;
    font: bolder larger;
    margin: auto;
    padding-bottom: 2%;
}

.FrameSearchPage {
    background-image: url("../Assets/skibilde.jpg");
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.SearchPage {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 40%;
    display: flex;
    flex-direction: column;
}

.SkisenterBackground {
    background-image: url("../Assets/skisenterBackground.jpg");
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}